/* Harta din formular va fi puțin mai mică */
        #map-picker {
            height: 300px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid #ced4da;
        }
